<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moo-velous Facts</title>
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <link rel="animations" href="./animations.css">
</head>

<body class="bg-gray-100 font-sans">
    
<header>
    <h1>Moo-velous Facts</h1>
    <h3>An "udderly" amazing quiz!</h3>
</header>

    
<nav class="border">
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
</nav>


<main>
    {{{body}}}
  </main>
</body>

</html>