{{!-- Random next flashcard --}}
<section class="nextCard">
    <a href="Main\assets\js\flashcardData.js">


{{!-- Button to select next card --}}
    <div id="randomFlashcard">
        <input type="flashcard" id="flashcardInput" multiple>
        <button id="randomFlashcardButton">Next Question!</button>
        <p id="selectedFlashcard"></p>
    </div>
</section>